#body{
    background-color: rgb(60, 90, 189);
    text-align: center;
    padding: 20px;


}
#btn{
    cursor: pointer;
    color: rgb(0, 255, 64);
    padding: 10px;
    font-size: 20px;
    background-color: black;
    border-radius: 2in;
    
}
#post{
    color: white;
    text-align: left;
    text-decoration: none;
    text-shadow: 2px;
    text-size-adjust: 2px;

}
